@model CMS.Models.ViewModels.VisitType

@{
    ViewData["Title"] = "Edit visit type";
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit</title>
</head>
<body>
    <p align="center" style="font-size:50px;margin-top:50px;" class="title">Edit visit type menu</p>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="visitTypeId" />
                <div class="form-group">
                    <label asp-for="visitType" class="control-label"></label>
                    <input asp-for="visitType" class="form-control" />
                    <span asp-validation-for="visitType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
