@model CMS.Models.ViewModels.Awards

@{
    ViewData["Title"] = "Create award";
    ViewData["Controller"] = "Award";
}

<br /><p align="center" style="font-size:50px;" >Create award</p>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="">
                <div >
                    <div class="form-group">
                        <label asp-for="awardName" class="control-label"></label>
                        <input asp-for="awardName" class="form-control" />
                        <span asp-validation-for="awardName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="awardLevel" class="control-label"></label>
                        <select asp-for="awardLevel" class="form-control" id="awardselect" onchange="checklevel()">
                            <option value="First">First Winner</option>
                            <option value="Second">Second Winner</option>
                            <option value="Third">Third Winner</option>
                            <option value="Other">Other</option>
                        </select>
                        <input type="text" style="display:none;" class="form-control" id="other" name="other" placeholder="Enter your Achievement"/>
                        <span asp-validation-for="awardLevel" id="awardLevelErr" class="text-danger"></span>
                    </div>
                </div>
                <div >
                    <div class="form-group">
                        <label asp-for="noOfRecipients" class="control-label"></label>
                        <input asp-for="noOfRecipients" class="form-control" />
                        <span asp-validation-for="noOfRecipients" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="awardType" class="control-label"></label>
                        <select asp-for="awardType" class="form-control">
                            <option value="Academic">Academic</option>
                            <option value="Non-Academic">Non-Academic</option>
                            <option value="Competition">Competition</option>
                            <option value="Shool award">Shool award</option>
                        </select>
                        <span asp-validation-for="awardType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center" >
                <input type="button" id="sub" value="Create" class="btn btn-info align-self-center" onclick="checktype()"/>
                <a asp-action="Index" class="btn btn-outline-info" style="margin-left:15px;">Back to List</a>
            </div>
        </form>
    </div>
</div>

<script>
    var otherflag = false;
    window.onload = function () {
        checklevel();
    }
    function checklevel() {
        var select = document.getElementById("awardselect");
        var index = select.selectedIndex;
        var choose = select.options[index].value;
        if (choose == "Other") {
            otherflag = true;
            document.getElementById("other").style.display = "";
        } else {
            otherflag = false;
            document.getElementById("other").style.display = "none";
        }
    }
    function checktype() {
        var othercontent = document.getElementById("other");
        if (otherflag == true) {
            if (othercontent.value == "") {
                document.getElementById("awardLevelErr").innerText = "Enter your Achievement!";
                othercontent.focus();
            } else {
                document.getElementById("awardLevelErr").innerText = "";
                document.getElementById("form").submit();
            }
        } else {
            document.getElementById("form").submit();
        }
    }
</script>
