@model CMS.Models.ViewModels.Awards
@{
   ViewData["Title"] = "Query awards";
}

<p align="center" style="font-size:50px;">Query Awards</p>
<p align="center">
    <a class="btn btn-info" asp-action="Create">Create New</a>
    <a class="btn btn-info" asp-action="Index">All Awards</a>
</p>
<div style="max-width: 25rem;position:absolute;left:0px;right:0px;margin:auto;">
    <form asp-action="QueryAwards">
        <p align="center" style="font-size:20px">Please enter the company name of the query:</p>
        <p align="center"><input type="text" asp-for="awardName" /></p>
        <p align="center"><input type="submit" class="btn btn-primary" value="submit" /></p>
    </form>
</div>
