
@{
    //ViewData["Meta"] = new string[3] { Model.MetaTitle, Model.MetaKeyword, Model.MetaDescription };
    ViewData["Meta"] = new string[3] { "Home", "MetaKeyword", "MetaDescription" };
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
   // Layout = null;
}
<div>
    <div class="card" style="width: 500px; text-align: center;
    border-radius: 20px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
">
        <div class="card-body">
            <h1 class="card-title"><b>Welcome to CITI 2.0 CMS</b></h1>
            <p class="card-text"><b>Please click the button below to login</b></p>
            <a asp-controller="Login" asp-action="index" class="btn btn-primary">Go to login</a>
        </div>
    </div>
</div>


