@model CMS.Models.ViewModels.ShortCourses

@{
    ViewData["Title"] = "Create short courses";
}

<p align="center" style="font-size:50px;margin-top:50px;" class="title">Create short courses</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="courseName" class="control-label"></label>
                <input asp-for="courseName" class="form-control" />
                <span asp-validation-for="courseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseSubject" class="control-label"></label>
                <input asp-for="courseSubject" class="form-control" />
                <span asp-validation-for="courseSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseInstructor" class="control-label"></label>
                <input asp-for="courseInstructor" class="form-control" />
                <span asp-validation-for="courseInstructor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseVenue" class="control-label"></label>
                <input asp-for="courseVenue" class="form-control" />
                <span asp-validation-for="courseVenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

