@model CMS.Models.ViewModels.ShortCourses

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ShortCourses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="courseId" />
            <div class="form-group">
                <label asp-for="courseName" class="control-label"></label>
                <input asp-for="courseName" class="form-control" />
                <span asp-validation-for="courseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseSubject" class="control-label"></label>
                <input asp-for="courseSubject" class="form-control" />
                <span asp-validation-for="courseSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseInstructor" class="control-label"></label>
                <input asp-for="courseInstructor" class="form-control" />
                <span asp-validation-for="courseInstructor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseVenue" class="control-label"></label>
                <input asp-for="courseVenue" class="form-control" />
                <span asp-validation-for="courseVenue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

