@model CMS.Models.ViewModels.CompanyType

@{
    ViewData["Title"] = "Create company type";
}

<!DOCTYPE html>

<html>
<head>
    <title>Create</title>
</head>
<body>

    <p align="center" style="font-size:50px;margin-top:50px;" class="title">Create company type Menu</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input asp-for="companyType" value="add" type="text" class="form-control" />
                <span asp-validation-for="companyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
