@model CMS.Models.ViewModels.CompanyType

@{
    ViewData["Title"] = "Delete company type";
}

<!DOCTYPE html>

<html>
<head>
    <title>Delete</title>
</head>
<body>
    <p align="center" style="font-size:50px;margin-top:50px;" class="title">Delete company type Menu</p>
    <h3>Are you sure you want to delete this?</h3>

    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">CompanyType</div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.companyType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.companyType)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="companyTypeId" />
                <input type="hidden" asp-for="companyType" />
                <input type="submit" value="Delete" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
                <p class="text-danger">@ViewBag.error</p>
            </form>
        </div>
    </div>
</body>
</html>
