@model CMS.Models.ViewModels.Preset
@{
    ViewData["Meta"] = new string[3] { "Create Preset", "MetaKeyword", "MetaDescription" };
    ViewData["Title"] = "Create Preset";
}
<!DOCTYPE html>

<html>
<head>
    <title>Create</title>
</head>
<body>

    <p align="center" style="font-size:50px;" >Create presets</p>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="themeId" class="control-label"></label>
                    <select asp-for="themeId" class="form-control" asp-items="@ViewBag.namelist "></select>
                    <span asp-validation-for="themeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="visitId" class="control-label"></label>
                    <select asp-for="visitId" class="form-control" asp-items="@ViewBag.selectlist "></select>
                    <span asp-validation-for="visitId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
