@model CMS.Models.ViewModels.Projects
@{
    ViewData["Title"] = "Query project";
}

<p align="center" style="font-size:50px;">Query Project</p>
<p align="center">
    <a class="btn btn-info" asp-action="Create">Create New</a>
    <a class="btn btn-info" asp-action="Index">All Project</a>
</p>
<div style="max-width: 25rem;position:absolute;left:0px;right:0px;margin:auto;">
    <form asp-action="QueryProject">
        <p align="center" style="font-size:20px">Please enter the company name of the query:</p>
        <p align="center"><input type="text" asp-for="projectName" /></p>
        <p align="center"><input type="submit" class="btn btn-primary" value="submit" /></p>
    </form>
</div>
