@model LoggedUser

<header id="adminBar" class="col-sm-12">
    Welcome, @Model.UserName
</header>
<style type="text/css">
    #nav1 {
        list-style: none outside none;
        padding: 0;
        width: 30%
    }

        #nav1 > li {
            padding-left: 35px;
            padding-top: 7px;
            padding-bottom: 20px;
            position: relative;
            width:100px;
            height:auto;
        }


        #nav1 a {
            color: #fff;
            cursor: pointer;
            width:10%;
               
        }

            #nav1 a:hover {
                color: #00b9eb
            }

        #nav1 li:hover > ul {
            display: block
        }

        #nav1 ul {
            display: none;
            margin: 0;
            padding: 0;
            width: 185px;
            position: absolute;
            top: 5px;
            left: 90px;
            background: #333;
            list-style: none outside none
        }

            #nav1 ul li {
                padding: 5px
            }
    #nav1 li.pageIcon {
        background: url("/images/page-icon.png") no-repeat
    }

    #nav1 li.mediaIcon {
        background: url("/images/media-icon.png") no-repeat
    }

    #nav1 li.blogIcon {
        background: url("/images/blog-icon.svg") no-repeat
    }

    #nav1 li.courseIcon {
        background: url("/images/course-icon.png") no-repeat
    }

    #nav1 li.siteIcon {
        background: url("/images/site-icon.png") no-repeat
    }

    #nav1 li.accountIcon {
        background: url("/images/account-icon.png") no-repeat
    }
</style>
<nav id="leftMenu" class="col-sm-3" style="height:100%;">
    @if (Model.Role == "Admin")
    {
    <ul id="nav1">
        @*<li class="pageIcon">
            <a>Pages</a>
            <ul>
                <li>
                    <a asp-controller="Page" asp-action="Index">All Page</a>
                </li>
                <li>
                    <a asp-controller="Page" asp-action="Add" asp-route-id="">Add Page</a>
                </li>
            </ul>
        </li>
        <li class="mediaIcon">
            <a>Media</a>
            <ul>
                <li>
                    <a asp-controller="Media" asp-action="Index">All Media</a>
                </li>
                <li><a asp-controller="Media" asp-action="Add" asp-route-id="">Add Media</a></li>
            </ul>
        </li>
        <li class="blogIcon">
            <a>Blogs</a>
            <ul>
                <li>
                    <a asp-controller="BlogCategory" asp-action="Index">All Blog Category</a>
                </li>
                <li>
                    <a asp-controller="BlogCategory" asp-action="Add" asp-route-id="">Add Blog Category</a>
                </li>
                <li>
                    <a asp-controller="Blog" asp-action="Index">All Blog</a>
                </li>
                <li>
                    <a asp-controller="Blog" asp-action="Add" asp-route-id="">Add Blog</a>
                </li>
            </ul>
        </li>
        <li class="siteIcon">
            <a>Site Info</a>
            <ul>
                <li>
                    <a asp-controller="Info" asp-action="Index">Info</a>
                </li>
            </ul>
        </li>
        <li class="pageIcon">
            <a>Menu</a>
            <ul>
                <li>
                    <a asp-controller="Menu" asp-action="Index">All Menu</a>
                </li>
                <li>
                    <a asp-controller="Menu" asp-action="Add" asp-route-id="">Add Menu</a>
                </li>
            </ul>
        </li>*@
        <li class="accountIcon">
            <a>Account</a>
            <ul>
                <li><a asp-controller="Admin" asp-action="Role">Role</a></li>
                <li><a asp-controller="Admin" asp-action="Logout">Logout</a></li>
            </ul>
        </li>
        <li class="siteIcon">
            <a>Visitors</a>
            <ul>
                <li>
                    <a asp-controller="Visits" asp-action="Index">All Visit</a>
                </li>
                <li>
                    <a asp-controller="Visits" asp-action="Create">Add Visit</a>
                </li>

            </ul>
        </li>
        <li class="siteIcon">
            <a>Edit Company Type menu</a>
            <ul>
                <li>
                    <a asp-controller="CompanyType" asp-action="Index">All Menu</a>
                </li>
                <li>
                    <a asp-controller="CompanyType" asp-action="Create">Add Menu</a>
                </li>
            </ul>
        </li>
        <li class="siteIcon">
            <a>Edit Visit Type menu</a>
            <ul>
                <li>
                    <a asp-controller="VisitTypes" asp-action="Index">All Menu</a>
                </li>
                <li>
                    <a asp-controller="VisitTypes" asp-action="Create">Add Menu</a>
                </li>
            </ul>
        </li>
        <li class="siteIcon">
            <a>View Preset and Theme</a>
            <ul>
                <li>
                    <a asp-controller="Presets" asp-action="Index">All Preset</a>
                </li>
                <li>
                    <a asp-controller="Themes" asp-action="Index">All Themes</a>
                </li>
            </ul>
        </li>
        <li class="siteIcon">
            <a>student information</a>
            <ul>
                <li>
                    <a asp-controller="Students" asp-action="Index">All Student</a>
                </li>
                <li>
                    <a asp-controller="Students" asp-action="Create">Add Student</a>
                </li>
            </ul>
        </li>
        <li class="siteIcon">
            <a>Projects information</a>
            <ul>
                <li>
                    <a asp-controller="Projects" asp-action="Index">All Projects</a>
                </li>
                <li>
                    <a asp-controller="Projects" asp-action="create">Add Project</a>
                </li>
            </ul>
        </li>
        <li class="siteIcon">
            <a>Awards</a>
            <ul>
                <li>
                    <a asp-controller="Awards" asp-action="Index">All Awards</a>
                </li>
                <li>
                    <a asp-controller="Awards" asp-action="create">Add Awards</a>
                </li>
            </ul>
        </li>
        <li class="siteIcon" style="padding-bottom:30px;">
            <a>Short Courses</a>
            <ul>
                <li>
                    <a asp-controller="ShortCourses" asp-action="Index">All Short Courses</a>
                </li>
                <li>
                    <a asp-controller="ShortCourses" asp-action="create">Add Short Courses</a>
                </li>
            </ul>
        </li>
    </ul>
    }
    else
    {
    <ul id="nav">
        <li class="pageIcon">
            <a>User</a>
            <ul>
                <li>
                    <a asp-controller="User" asp-action="Edit">Edit</a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </li>
        <li class="siteIcon">
            <a>Order</a>
            <ul>
                <li>
                    <a asp-controller="User" asp-action="Order">Orders</a>
                </li>
            </ul>
        </li>

        <li class="siteIcon">
            <a>Visitors</a>
            <ul>
                <li>
                    <a asp-controller="Visitor" asp-action="Index">Add Visitors</a>
                </li>
                <li>
                    <a asp-controller="Visitor" asp-action="Index">Query Visitors</a>
                </li>
            </ul>
        </li>

    </ul>
    }

</nav>