@model CMS.Models.ViewModels.Visits

@{
    ViewData["Title"] = "Create visit";
}

<!DOCTYPE html>

<html>
<head>
    <title>Create</title>
    
</head>
<body>

    <p align="center" style="font-size:50px;">Create visit</p>
    <hr />
    <h2>Mode 1</h2>
    <h3>Import excel file</h3>
    @*<a asp-action="Export">Export</a>*@

    <form enctype="multipart/form-data" method="post" asp-action="Import">
        <input type="file" name="excelfile" />
        <input type="submit" value="Upload" data-toggle="modal" data-target="#exampleModalCenter" />
    </form>
    @*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span >  Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2>Mode 2</h2>
    <h3>Enter access information</h3>
    <div class="row">
        <div class="col-md-4">
            <p class="text-danger">@ViewBag.error</p>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="VisitId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pax" class="control-label"></label>
                    <input asp-for="Pax" class="form-control" />
                    <span asp-validation-for="Pax" asp-textfield="true" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SIC" class="control-label"></label>
                    <input asp-for="SIC" class="form-control" />
                    <span asp-validation-for="SIC" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Host" class="control-label"></label>
                    <input asp-for="Host" class="form-control" />
                    <span asp-validation-for="Host" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Please check the box for Foreign Visits</label>
                    <input asp-for="ForeignVisit" class="form-control" />
                    <span asp-validation-for="ForeignVisit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
