@model CMS.Models.ViewModels.Visits

@{
    ViewData["Title"] = "Create visit";
}

<!DOCTYPE html>

<html>
<head>
    <title>Create</title>
</head>
<body>

    <p align="center" style="font-size:50px;">Create visit</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="companyName" class="control-label"></label>
                <input asp-for="companyName" class="form-control" />
                <span asp-validation-for="companyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyTypeId" class="control-label"></label>
                <select asp-for="companyTypeId" class="form-control" asp-items="ViewBag.CompanyType" ></select>
                <span asp-validation-for="companyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noOfPax" class="control-label"></label>
                <input asp-for="noOfPax" class="form-control" />
                <span asp-validation-for="noOfPax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="visitDate" class="control-label"></label>
                <input asp-for="visitDate" class="form-control" />
                <span asp-validation-for="visitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="visitTypeId" class="control-label"></label>
                <select asp-for="visitTypeId" class="form-control" asp-items="ViewBag.visitTypes"></select>
                <span asp-validation-for="visitTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
