
@{
    ViewData["Title"] = "ImportError";
}

<p align="center" style="font-size:50px;">ImportError</p>
<span class="d-flex justify-content-center text-danger" style="font-size:25px;">worksheet:@ViewBag.name</span>
<span class="d-flex justify-content-center text-danger" style="font-size:25px;">@ViewBag.error</span>
<span class="d-flex justify-content-center text-warning" style="font-size:25px;">Note: The data before this worksheet has been added.</span>
<p class="d-flex justify-content-center"><a asp-controller="Visits" asp-action="index" class="btn btn-outline-info">Back to list</a></p>

