@model CMS.Models.ViewModels.Visits
@{
    ViewData["Title"] = "Query visit";
}

<!DOCTYPE html>

<html>
<head>
    <title>QueryView</title>
</head>
<body>
    <p align="center" style="font-size:50px;margin-top:50px;" class="title">Query visit</p>
    <p align="center">
        <a class="btn btn-info" asp-action="Create">Create New</a>
        <a class="btn btn-info" asp-action="Index">All Visit</a>
    </p>
    <div style="max-width: 25rem;position:absolute;left:0px;right:0px;margin:auto;">
        <form asp-action="QueryVisit">
            <p align="center" style="font-size:20px">Please enter the company name of the query:</p>
            <p align="center"><input type="text" asp-for="Name" /></p>
            <p align="center"><input type="submit"  class="btn btn-primary" value="submit" /></p>
        </form>
    </div>
</body>
</html>
