@model Login
@{
    ViewData["Meta"] = new string[3] { "Login", "MetaKeyword", "MetaDescription" };
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CMS</title>
    <link rel="stylesheet" asp-href-include="css/admin.css" />
</head>
<body  id="content" style="background:url(/images/bg2.jpg) no-repeat;background-size:cover;">
    <h1 id="adminBar" style="width: 100%; text-align: center;">Welcome to the CITI2.0 CMS</h1>
    <div id="wrapper"  class="card" style="width: 400px; text-align: center;
    background-color: #fff;
    border-radius: 20px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
">

        <div >
            <section>
                
                <article>
                    <img src="~/images/nyplogo.png" style="width:80%;height:80px;margin-top:20px;" />
                    <h1>Login</h1>
                    <h2>@TempData["result"]</h2>

                    <div class="text-danger" asp-validation-summary="All"></div>
                    <form asp-action="Index" method="post">
                        <div class="control">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="text-box" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="control">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="text-box" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="control">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </div>
</body>

